.wrap .head { box-sizing: border-box; height: 100px; padding: 0 20px; background-color: #CCCCCC; display: flex; justify-content: space-between; align-items: center; }
.wrap .head h2 { font-size: 18px; }
.wrap .head span { font-weight: bold; font-size: 16px; }
.wrap .white-container { background-color: #fff; position: relative; }
.wrap .white-container .message-block { position: fixed; top: 167px; right: 20px; overflow: hidden; }
.wrap .white-container .message-block .message-item { display: flex; position: relative; right: -200px; transition: all ease .4s; padding: 20px 25px 20px 25px; text-align: center; color: #fff; }
.wrap .white-container .message-block .message-successful { background-color: rgba(38, 161, 0, 0.7); font-size: 18px; }
.wrap .white-container .message-block .message-successful.active { right: 0; }
.wrap .white-container .message-block .message-successful::before { content: '\f05d'; font-family: FontAwesome, sans-serif; margin-right: 10px; font-size: 30px; }
.wrap .white-container .message-block .message-error { background-color: rgba(174, 3, 0, 0.7); font-size: 18px; }
.wrap .white-container .message-block .message-error.active { right: 0; }
.wrap .white-container .message-block .message-error::before { content: '\f06a'; font-family: FontAwesome, sans-serif; margin-right: 10px; font-size: 30px; }
.wrap .submit { margin: 0; padding: 0; text-align: right; }
.wrap .tabs-container { display: flex; min-height: 500px; }
.wrap .tabs-container form { height: 100%; }
.wrap .tabs-container .tabs { width: 15%; background-color: #554935; display: flex; flex-direction: column; justify-content: space-between; }
.wrap .tabs-container .tabs .theme-options-menu, .wrap .tabs-container .tabs .system-tabs { margin: 0; }
.wrap .tabs-container .tabs .theme-options-menu li, .wrap .tabs-container .tabs .system-tabs li { position: relative; margin: 0; border-bottom: 1px solid #947f5c; }
.wrap .tabs-container .tabs .theme-options-menu li:last-child, .wrap .tabs-container .tabs .system-tabs li:last-child { border-bottom: none; }
.wrap .tabs-container .tabs .theme-options-menu li.has-sub > a::before, .wrap .tabs-container .tabs .system-tabs li.has-sub > a::before { content: '\f107'; position: absolute; font-family: FontAwesome, sans-serif; font-size: 24px; color: #fff; right: 10px; }
.wrap .tabs-container .tabs .theme-options-menu li a, .wrap .tabs-container .tabs .system-tabs li a { background-color: #847152; display: block; color: #fff; text-decoration: none; font-size: 16px; padding: 10px 20px; outline: none; box-shadow: none; transition: background-color, .3s ease; }
.wrap .tabs-container .tabs .theme-options-menu li a:hover, .wrap .tabs-container .tabs .system-tabs li a:hover { background-color: #7e6c4e; }
.wrap .tabs-container .tabs .theme-options-menu li .sub-tabs, .wrap .tabs-container .tabs .system-tabs li .sub-tabs { display: none; }
.wrap .tabs-container .tabs .theme-options-menu li .sub-tabs li a, .wrap .tabs-container .tabs .system-tabs li .sub-tabs li a { background-color: #746449; padding-left: 30px; padding-right: 20px; }
.wrap .tabs-container .tabs .theme-options-menu li .sub-tabs li a:hover, .wrap .tabs-container .tabs .system-tabs li .sub-tabs li a:hover { background-color: #6e5f45; }
.wrap .tabs-container .system-content { width: calc(100% - 80px); display: flex; flex-direction: column; justify-content: center; align-items: center; }
.wrap .tabs-container .system-content .export-view { padding: 20px; width: 400px; height: 200px; background-color: #fafafa; word-wrap: break-word; margin-bottom: 20px; }
.wrap .tabs-container .system-content .button { font-size: 20px; padding: 20px 10%; line-height: normal; height: auto; }
.wrap .tabs-container .options-content { width: calc(100% - 80px); padding: 20px; }
.wrap .tabs-container .options-content .tab-content { display: none; }
.wrap .tabs-container .options-content #root-include, .wrap .tabs-container .options-content #plugin-include { height: 100%; }
.wrap .tabs-container .options-content form { display: flex; flex-direction: column; justify-content: space-between; }
.wrap .tabs-container .options-content h3 { font-size: 30px; padding: 0; margin: 0 0 20px 0; }
.wrap .tabs-container .options-content .table-options { width: 100%; }
.wrap .tabs-container .options-content .table-options th { width: 30%; text-align: left; font-weight: 500; }
.wrap .tabs-container .options-content .table-options th label { font-size: 18px; color: #000; }
.wrap .tabs-container .options-content .table-options th .roll-desc { font-weight: normal; }
.wrap .tabs-container .options-content .table-options td .roll-text { width: 100%; }

/*# sourceMappingURL=theme-options.css.map */
