$main_color: #554935;

.wrap {
  .head {
    box-sizing: border-box;
    height: 100px;
    padding: 0 20px;
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 18px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .white-container {
    background-color: #fff;
  }
  .submit {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .tabs-container {
    display: flex;
    min-height: 500px;

    form {
      height: 100%;
    }
    .tabs {
      width: 15%;
      background-color: $main_color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .theme-options-menu, .system-tabs {
        margin: 0;
        li {
          position: relative;
          margin: 0;
          border-bottom: 1px solid lighten($main_color, 20%);

          &:last-child {
            border-bottom: none;
          }

          &.has-sub > a::before {
            content: '\f107';
            position: absolute;
            font-family: FontAwesome, sans-serif;
            font-size: 24px;
            color: #fff;

            right: 10px;
          }
          a {
            background-color: lighten($main_color, 15%);
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 10px 20px;
            outline: none;
            box-shadow: none;

            transition: background-color, .3s ease;
            &:hover {
              background-color: lighten($main_color, 13%);
            }
          }

          .sub-tabs {
            display: none;
            li {
              a {
                background-color: lighten($main_color, 10%);
                padding: {
                  left: 30px;
                  right: 20px;
                }
                &:hover {
                  background-color: lighten($main_color, 8%);
                }
              }
            }
          }
        }
      }
    }
    .system-content {
      width: calc(100% - 80px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .export-view {
        padding: 20px;
        width: 400px;
        height: 200px;
        background-color: #fafafa;
        word-wrap: break-word;
        margin-bottom: 20px;
      }

      .button {
        font-size: 20px;
        padding: 20px 10%;
        line-height: normal;
        height: auto;
      }
    }

    .options-content {
      width: calc(100% - 80px);
      padding: 20px;

      .tab-content {
        display: none;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      h3 {
        font-size: 30px;
        padding: 0;
        margin: 0 0 20px 0;
      }

      .table-options {
        width: 100%;
        th {
          width: 30%;
          text-align: left;
          font-weight: 500;

          label {
            font-size: 18px;
            color: #000;
          }
          .roll-desc {
            font-weight: normal;
          }
        }
        td {
          .roll-text {
            width: 100%;
          }
        }
      }
    }
  }
}